body{
    background-color: rgb(37, 32, 48); /*rgb(51, 43, 71)*/
}
header{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color:cornflowerblue;
    font-size: 48;
}
h2{
    text-align: center;
    color:cornflowerblue;
    font-size: 36;
}
h3{
    text-align: center;
    color:cornflowerblue;
    font-size: 28;
}
h4{
    text-align: center;
    color:cornflowerblue;
    font-size: 24;
}
h5{
    text-align: center;
    color:cornflowerblue;
    font-size: 20;
}
h6{
    text-align: center;
    color:cornflowerblue;
    font-size: 18;
}
p{
    text-align: center;
    color: cornflowerblue;
    font-size: 12;
}
.chart{
    width: 600px;
    height: 300px;
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}